.keyElement {
  color: blue;
}

.valueElement {
  color: green;
}

.objectElement {
  color: teal;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}

.collapse {
  display: none;
}